@import url(https://fonts.googleapis.com/css?family=Righteous);

.program_page {
	background-image: url('./BackgroundImage/background.png');
	font-family: 'Righteous', cursive;
	overflow-x: scroll;
	overflow-y: hidden;
}

.program_grid {
	background-image: url('./BackgroundImage/background.png');
}

.program_table {
	margin-bottom: 5vh !important;
}

.program_subtitle {
	color: white;
	font-family: 'Righteous', cursive;
}